[Desktop Entry]
Name=SGDBop
Comment=Apply Steam assets from SteamGridDB
Exec=/usr/local/bin/SGDBop %U
Terminal=false
Type=Application
NoDisplay=true
Icon=steam
MimeType=x-scheme-handler/sgdb
Categories=Utility