[Desktop Entry]
Name=SGDBop
Comment=Apply Steam assets from SteamGridDB
Exec=SGDBop %U
Terminal=false
Type=Application
NoDisplay=true
Icon=com.steamgriddb.SGDBop
MimeType=x-scheme-handler/sgdb
Categories=Utility
